.beerContainer {
  margin-top: 7rem;
  margin-left: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  min-width: 300px;
}

.cardFront {
  /* height: 300px;
  width: 150px; */
  height: 20rem;
  width: 15rem;
  border: 2px solid ff6f47;
  background-color: #e4aa2e;
  border-radius: 18px;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: sans-serif;
}
.image {
  min-width: 4rem;
  max-width: 4rem;
  /* height: 150px; */
}
@media screen and (max-width: 500px) {
  .beerContainer {
    margin: 7rem 2rem 2rem 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cardFront {
    height: 12rem;
    width: 8rem;
  }
  .image {
    min-width: 2rem;
    max-width: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .beerContainer {
    margin: 7rem 2rem 2rem 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .cardFront {
    height: 15rem;
    width: 10rem;
  }
  .image {
    min-width: 3rem;
    max-width: 3rem;
  }
}
