.nav {
  padding: 20px;
  height: 40px;
  width: 100%;
  background-color: #e4aa2e;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 2px solid black;
  min-width: 600px;
}
